.alert {
    display: flex;
    gap: 1rem;
    padding: 2rem;
    align-items: center;
    background-color: #d7a53b;
    /* min-height: 8.5rem; */
}

.alert p:first-child {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

.alert p {
    color: rgba(9,14,17,.75);
    font-size: 1.2rem;
}

.alert a:link,
.alert a:visited {
    text-decoration: underline;
    color: rgba(9,14,17,.75);
    font-size: 1.2rem;
}