.chat {
    display: flex;
    /* flex-direction: column; */
    /* display: grid;
    grid-template-columns: 2fr 1fr; */
    height: 100vh;
    flex: 1;
    position: relative;
    
}

.chat main {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-right: 1px solid rgb(60, 66, 71);
    /* min-width: 30rem; */
    /* flex: 40%; */
}

.bg-chat-image {
    background: url(../assets/img/bg-chat-dark.png);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.05;
}


.search_with {
    padding: 7rem;
    color: rgba(241, 241, 242, 0.45);
    font-size: 1.3rem;
}