.list {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #111b21;
    /* overflow: hidden; */
    width: 45rem;
    /* height: 100%;
    overflow-y: scroll; */
}

.archive {
    font-size: 1.6rem;
    padding-left: 3rem;
    color: #00af9c;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    font-weight: 500;
    border-top: 1px solid #3c4247;
    cursor: pointer;
}

.archived_info {
    flex: 1;
    border-bottom: 1px solid #3c4247;
    padding: 1rem 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
}

.archived_info span {
    color: #00af9c;
}

